body {
  text-align: center;
  background-color: #282828;
  overflow: hidden;
}

nav a.navbar-brand {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.nav-brand-img{
  width: 75%;
}

#navList{
  padding-right: 3%;
}

.navbar-nav li a {
 line-height: 50px;
}

.input-group{
  float: left;
}

.button {
  height: 30px;
  width: 30px;
  margin-top: -16px;
}
.toggleButton {
  fill: #333;
  stroke-width: 0.05em;
  stroke: white;
}

#search-glyph {
  font-size: 12pt;
  right: 6px !important;
}
.bubble-text {
  fill: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 0.813em;
}

#text-span{
  font-family: "Open Sans", sans-serif;
}

/* Hover Styling */
.donut-path:hover{
  opacity: 0.3;
}

.program-circle:hover{
  opacity: 0.3 !important;
}

.detail-bubble:hover{
  fill: #696969;
}

/* Tooltip Styling */
.tooltip {
  font-family: "Open Sans", sans-serif;
  padding: 12px;
  max-width: 25rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}
/*.tooltip h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}*/
.tooltip p {
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  color: #ffffff;
}
/*For showing/hiding content when navigating*/

.hidden-section {
  display: none;
}
.active-section {
  display: block!important;
}
.hidden-sub-section {
  display: none;
}
.active-sub-section {
  display: block!important;
}

/**/

.donut-center-text{
  font-family: "Open Sans", sans-serif;
 /* font-size: 1vw;*/
  fill:#FFFFFF;
}

#donut-details-text{
  font-size: 1em;
  max-width: 280px;
  max-height: 280px;
  overflow: hidden;
  fill:#bbbbbb;
}
.donut-detail-header{
  font-size: 1.5em;
  font-weight: bold;
}

/* About tab */
.about-body{
  overflow-y: scroll;
  font-family: "Open Sans", sans-serif;
}

.about-container{
  opacity: 1;
  color: #ffffff;
  margin-top: 5%;
}

.creators-wrapper{
  margin-top: 20%;
}

.creator{
  padding: 20px 20px;
}

.creator-img{
  height: 20%;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}

.text-left{
  text-align: left;
}

.about-line{
  margin-top: 5%;
  margin-bottom: 5%;
}

.fa{
  color: #D7C4AA;
}

.fa:hover {
  transform: scale(1.3);
}
.blue{
  color: #00708D;
}
.green{
  color: #C0CC94;
}
.pink{
  color: #FFA9A3;
}
.yellow{
  color: #D7C4AA;
}

#wiki-link {
  cursor: pointer;
}
.google-link {
  cursor: pointer;
}

#wiki-link:visited {
    fill: #bbb;
}

#wiki-link {
  font-weight: bold;
}

.google-link:visited {
    fill: #bbb;
}

.google-link {
  font-weight: bold;
}

.detail-bubble {
  cursor: pointer;
}

.bubble-text {
  cursor: pointer;
}

.program-circle {
  cursor: pointer;
}

.welcome-text {
  fill: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 0.813em;
}

#donut-toggle {
  cursor:pointer;
}

.donut {
  cursor:pointer;
}

.donut-center-text {
  cursor:default;
}
